.send__title {
    font-size: 1.5rem;
    padding-bottom: .5rem;
    color: #0B2B40;
    font-weight: 550;
}

@media only screen and (max-width: 600px) {
    .send__title{
        padding-top: 2rem;
    }
}